*{
  box-sizing: border-box;
}

body{
  margin:0;
  height:100%;
  max-width: 100%;
  font-family: 'Poppins', sans-serif;
}
.gray{
  color:#918e9b;
}
.bold{
  font-weight: bold;
}

/* Navigation area */

.nav-container{
  -webkit-box-shadow: inset 0px 0px 6px 4px rgba(229,229,229,0.4); 
  box-shadow: inset 0px 0px 6px 4px rgba(229,229,229,0.4);
  height: 100px;
  display: flex;
  height:70px;
  padding: 20px 36px;
}
.logo{
  max-width: 100px;
}

/* Hero Area */
.photo-grid-container{
  display: flex;
  justify-content:center;

}
.photo-grid{
  max-width: 400px;
  align-self: center;
  
  /*  desktopview width: 1000px;
height: 500px; */
/* make image responsive */
}
h1{
  font-weight: 600px;
  font-size: 36px;
  line-height: 39.6px;
  margin-bottom:16%;

}

p{
  margin-top: 0px;
}
section{
  padding: 20px;
}
.hero-text-container{
  display: flex;
  flex-direction: column;
  
}

/* card */
.card{
  display: flex;
  flex-direction: column;
  width: 175px;
  font-size: 12px;
}
.card-img{
  width: 100%;
  border-radius: 9px;
}
.card-star{
  height:14px;
}
